/* 
    Created on : Sep 16, 2019, 12:46:58 PM
    Author     : Jenn Junio
*/

/* Mobile */
@media only screen 
  and (max-device-width: 767px) {
    body#home-page .navbar-dropdown.bg-color.transparent {
        background: #232323;
    }

    body#home-page section .mbr-background-video-preview {
        background-size: 960px !important;
        background-repeat: no-repeat;
        background-position: center 60px !important;
        background-color: #ffffff;
    }

    body#home-page p.mbr-text.pb-3.mbr-fonts-style.display-5 {
        height: 595px;
    }

    section.mbr-fullscreen .btn {
        display: block;
    }

    section#header2-5y.mbr-fullscreen .btn-white-outline {
        color: #232323;
        border-color: #232323;
    }
    
    .mbr-fullscreen:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(35, 35, 35, 0.25);
        width: 100%;
        height: 100%;
    }

    section[class*="testimonials"] {
        padding-top: 40px;
        padding-bottom: 0;
    }
    section[class*="testimonials"] .mbr-testimonial {
        padding: 0 0 15px !important;
    }
    section[class*="testimonials"] .mbr-testimonial:last-child {
        padding-bottom: 0 !important;
    }
    section[class*="testimonials"] .mbr-testimonial .card-block {
        flex: none;
        padding: 0;
    }
    section[class*="testimonials"] .mbr-testimonial .card-block .testimonial-photo {
        margin-top: 20px;
    }
    section[class*="testimonials"] .mbr-testimonial .card-footer {
        padding-bottom: 10px;
    }
    
    section.about-the-program {
        padding-top: 6rem;
    }
    section.about-the-program p.display-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cid-qYXkswzZJI h2 {
        margin-bottom: 0;
    }

    #bootstrap-toggle .card {
        margin: 0;
    }

    #bootstrap-toggle .card .card-header a.panel-title h4 {
        position: relative;
        padding-left: 65px !important;
    }
    #bootstrap-toggle .card .card-header a.panel-title h4 .sign {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #232323;
        padding-right: 0 !important;
        position: absolute;
        top: 29px;
        left: 24px;
    }
    #bootstrap-toggle .card .card-header a.panel-title h4 .sign:before {
        display: none;
    }

    section[id*="footer1-"] {
        padding-bottom: 7rem;
    }
    section[id*="footer1-"] .media-wrap {
        margin-bottom: 2.5rem;
    }
    section[id*="footer1-"] .mbr-text {    
        text-align: left;
    }
    section[id*="footer1-"] .footer-lower .copyright p.mbr-text {
        text-align: center;
        margin: 0;
    }
    section[id*="footer1-"] .footer-lower .copyright p.mbr-text a.text-white {
        display: none;
    }

    section[id*="footer1-"] .content > div:not(:last-child) {
        margin-bottom: 10px;
    }
    section[id*="footer1-"] .footer-lower hr {
        display: none;
    }
    section[id*="footer1-"] .footer-lower .copyright br {
        display: none;
    }

    #scrollToTop a {
        position: relative;
    }
    #scrollToTop a i.mbr-arrow-up-icon {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid white;
        position: relative;
        top: 25px;
        right: -15px;
    }
    #scrollToTop a i:before,
    #scrollToTop a i:after {
        display: none;
    }
}